{% extends 'base.html' %}
{% block content %}
  
  {% if data_obj %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Website</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">
            <a href="{% url 'password_form' %}" class="btn btn-outline-success">
              <i class="fas fa-plus"></i> Add New
          </a>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for d in data_obj %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.website}}</td>
            <td>{{d.username}}</td>
            <td>{{d.password}}</td>
            <td>
              <a href="{% url 'password_update' d.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
              </a>
              <form action="{% url 'password_delete' d.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                  <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
              </form>
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="text-center mt-5">
      <h1 style="color: green;">You havenot saved any password.</h1>
      <a href="{% url 'password_form' %}" class="btn btn-outline-danger mt-3 w-50 btn-lg">Click to add one.</a>
    </div>
  {% endif %}

 {% endblock %}
